/cmake-build-debug/.cmake/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/test
/cmake-build-debug/test.bin
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_9_38_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_9_57_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_10_05_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_10_06_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_9_38_PM_[Changes]/test
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_10_06_PM_[Changes]/test
/.idea/test.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_9_38_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_9_57_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_10_05_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_31_24_10_06_PM__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
